<h1> Nursery Rhymes </h1>

<% @categories.each do |category| %>
    <h2><%= category.name %>:</h2>

    <% category.rhymes.each do |rhyme|  %>
        <%= link_to rhyme_path(rhyme) do %>
            <%= image_tag "#{rhyme.img_url}", class: "img-link" %>
        <% end %>
    <% end %>

<% end %>
   

   
   




