
<img id="logo" src = "https://lh3.googleusercontent.com/2gKnpsw8VVj41zJO2qhQUCLm0ope056ZzRGKit01nC-aqrjnb39J1T6S_HnaItzP_w09oNYaKLiIJjAkQgTCSVwz4EHWXo4GMSA-e9MpZdMT8G9x63pb20JOLGFQ78aeipStsncm1-lu_l1vjJ8TSeYiXN8uNGGJf7BvsO3uuCZ_vMPPA0l5W2FnupSIfcxzxH3kjxiMFWXKU4c4Uf--VFNoG6PVmit_x35A6_37mmmwKna1XoQze2iBePjWpaSyRpEiju2qLxSz2T2z6F0-adzCi8xD59UK6dSV4_0CaGihZWRm7jBwKU7EMIjBXyq4XqZU4KER7WwZYCGwZf8UAk1UYfommSaxP0sSado_I_zfnw-gBdhIrshzVn5kCUpxFtmBiBY2A1FzvIAIOqaJU3B6k0uigqpXnja75le4VzAwMrfE8AgLRP2qgF6WZM4VjhtD49z1GxgSz5XlfX-WP-xmStAMiy7MMfjhdj41-Ikc0vAgGAaH6iHXF93JEm_I9oCWeNF03XcXuJINJB-zop3n_4jgcWdZcs3rKWCI2iwbKgZjCDlVmPN6eoxdn1cI8ShiH3_SGxniB-cXtay4ruHNu6O_DFHyPf-vsEkyaflxmaTq5GiMXz0c-OMZjHRpInlvuWCpEVhJSMq2XnjlrAfprr-0pbyzCgju1t17SkzYIank6srBuVlRF55_=w1159-h371-no?authuser=0">


<div class="home-buttons-container">
    <%= button_to "Login", login_path, method: :get, class: "home-button" %>

    <%= button_to "Create Account", new_user_path, method: :get, class: "home-button" %>
</div>


<div class="music">
<audio controls autoplay loop>
  <source src="https://retired.sounddogs.com/previews/2515/mp3/687222_SOUNDDOGS__mu.mp3" type="audio/ogg" >
  <embed src="https://retired.sounddogs.com/previews/2515/mp3/687222_SOUNDDOGS__mu.mp3" autostart="true" loop="true" hidden="true"> 
</audio>
</div>

