<%= render "users/nav" %>

<h1> All Books </h1>


<% @categories.each do |category| %>
<h2><%= category.name %>:</h2>
    <ul>
    <% category.books.each do |book|  %>
        <li><%= link_to book.title, book_path(book) %></li>
    <% end %>
    </ul>
<% end %>








 