/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  margin: 0
}

#navbar {
  height: 50px;
  width: 100vw;
  background: #C9DAF8;
  margin: 0;
}

.nav-element {
  font-family: "Arial";
  display: inline-block;
  padding: 10px 20px 0px 20px;
  color: #02111E;
}
.right-element {
  position: absolute;
  right: 0;
}

a ,a:visited {
    /* color: white; */
    color: #02111E;
    text-decoration: none;
}

#background {
  color: #C9DAF8;
  padding: 0;
  margin: 0;
  background-image: url("https://media1.giphy.com/media/UYBDCJjwOd9Re/giphy.gif?cid=6104955e52424d41f5846bce35cff0ac939f2b60d0239d64&rid=giphy.gif"); 
  min-height: 100vh;
}

#logo {
  width: 100vw;
}


.home-button {
  display: inline-block;
  background: #C9DAF8;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 20px 50px 20px 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
  font-size: 25px;
  color: #02111E;
}

form.button_to {
  display: inline-block;
}


.home-buttons-container {
  text-align: center;
}